.nav-bar {
  background: Orange;
  margin: 1vh;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav-bar ul {
  width: 100%;
  padding: 1vh;
  background: #ccc;
  display: flex;
}
.nav-bar ul li {
  display: inline;
  box-sizing: border-box;
  min-width: 100px;
  max-width: 133px;
  padding: 5px 10px;
  background: pink;
}
.nav-bar ul li:last-child {
  margin-left: auto;
  background: seashell;
}

.nav-bar a {
  text-decoration: none;
}
