@import url("https://fonts.googleapis.com/css?family=Rubik");

@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Rubik";
}

.App {
  height: 50%;
}

body {
  font-family: "Roboto";
  max-width: 3000px;
  height: 1px;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 50%;
}

button {
  all: unset;
}

button:focus {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}
