html {
  scroll-behavior: smooth;
}

a {
  color: #ffffff;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  color: gainsboro;
  transform: scale(1.1);
  transform: scale(1.1);
}

a:focus {
  text-decoration: underline;
  color: rgb(116, 116, 116);
}

a:active {
  text-decoration: underline;
  color: rgb(116, 116, 116);
}

.legend {
  border: 2px solid #ffffff;
  cursor: pointer;
}
