@import url("https://fonts.googleapis.com/css?family=Rubik");

@import url("https://fonts.googleapis.com/css?family=Roboto");

nav {
  font-family: "Rubik";
}

.App {
  height: 100%;
}

body {
  font-family: "Roboto";
  max-width: 3000px;
  margin: auto;
  background: grey;
}

html {
  scroll-behavior: smooth;
}

button {
  all: unset;
}

button:focus {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}
