.night-about {
  background: #062f4f;
  height: 100vh;
  width: 100%;
  font-family: "Oswald", sans-serif;
  padding-top: 100px;
  margin-top: -100px;
  display: flex;
}

.day-about {
  background: #416adb;
  height: 100vh;
  width: 100%;
  font-family: "Oswald", sans-serif;
  padding-top: 100px;
  margin-top: -100px;
  display: flex;
}

.about-text {
  margin: 25vh 5vw 10vh 5vw;
  font-size: 2em;
  text-align: justify;
}

.image {
  margin: 18vh 10vw 10vh 5vw;
  height: 45vh;
  width: 60vh;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
