.night-about {
  background: #003a6d;
  color: #e0e1dd;
  height: 100vh;
  width: 100%;
  padding-top: 200px;
  margin-top: -200px;
}

.day-about {
  background: #f9f9f8;
  color: #080808;
  height: 100vh;
  width: 100%;
  padding-top: 200px;
  margin-top: -200px;
}

.night-about a:link {
  text-decoration: none;
  color: #d1495b;
  outline: none;
}

.night-about a:visited {
  text-decoration: none;
  color: #d1495b;
}

.night-about a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.night-about a:focus {
  text-decoration: underline;
  color: gainsboro;
}

.night-about a:active {
  text-decoration: underline;
  color: gainsboro;
}

.day-about a:link {
  text-decoration: none;
  color: #d1495b;
  outline: none;
}

.day-about a:visited {
  text-decoration: none;
  color: #d1495b;
}

.day-about a:hover {
  text-decoration: underline;
  color: gainsboro;
}

.day-about a:focus {
  text-decoration: underline;
  color: silver;
}

.day-about a:active {
  text-decoration: underline;
  color: silver;
}

.about-text {
  margin: auto;
  font-size: 2.5em;
  text-align: justify;
  height: 40vh;
  width: 50vw;
  margin: 20vh 0vw 0vh 10vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  float: left;
}

.about-img {
  height: 40vh;
  width: 20vw;
  margin: 18vh 10vw 0vh 0vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  float: right;
}

.night-image {
  margin: auto;
  height: 30vh;
  width: 40vh;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.night-image:hover {
  cursor: pointer;
  border: 2px solid gainsboro;
}

.night-image:focus {
  cursor: pointer;
  border: 2px solid silver;
}

.day-image {
  margin: auto;
  height: 30vh;
  width: 40vh;
  border: 3px solid #dc143c;
  border-radius: 50%;
}

.day-image:hover {
  cursor: pointer;
  border: 4px solid gainsboro;
}

.day-image:focus {
  cursor: pointer;
  border: 4px solid silver;
}
