.night-contact {
  background: darkslategrey;
  height: 100vh;
  width: 100vw;
}

.night-contact p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5vw;
}

.day-contact {
  background: grey;
  height: 100vh;
  width: 100vw;
}

.day-contact p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5vw;
}
