.contact-text {
  font-size: 2vw;
}

.contact-links {
  font-size: 3vw;
  text-align: center;
  align-self: flex-end;
}

.night-contact {
  background: darkslategrey;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.day-contact {
  background: grey;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
