.night-contact {
  background: #343a40;
  color: #ffffff;
  height: 100vh;
  text-align: center;
  transition: 0.8s;
  scroll-margin-top: -8vh;
}

.day-contact {
  background: #ececeb;
  color: #080808;
  height: 100vh;
  text-align: center;
  transition: 0.8s;
}

.night-email-button {
  user-select: default;
  cursor: pointer;
  color: #30638e;
}

.night-email-button:hover {
  text-decoration: underline;
  color: #ffffff;
}

.night-email-button:active {
  text-decoration: underline;
  color: gainsboro;
}

.day-email-button {
  user-select: default;
  cursor: pointer;
  color: #30638e;
}

.day-email-button:hover {
  text-decoration: underline;
  color: #080808;
}

.day-email-button:active {
  text-decoration: underline;
  color: #080808;
}

.contact-text {
  padding-top: 40vh;
  margin: 0vh 5vw 0vh 5vw;
}

.contact-links {
  font-size: 3rem;
  cursor: pointer;
  display: inline-block;
  margin: 10vh 2vw 0vh 2vw;
}

.night-contact a:link {
  text-decoration: none;
  color: #30638e;
  outline: none;
  filter: drop-shadow(1px 1px 1px #30638e);
}

.night-contact a:visited {
  text-decoration: none;
  color: #30638e;
}

.night-contact a:hover {
  text-decoration: underline;
  color: #ffffff;
  transform: scale(1.1);
}

.night-contact a:focus {
  text-decoration: underline;
  color: #ffffff;
}

.night-contact a:active {
  text-decoration: underline;
  color: #ffffff;
}

.day-contact a:link {
  text-decoration: none;
  color: #30638e;
  outline: none;
  filter: drop-shadow(1px 1px 1px #30638e);
}

.day-contact a:visited {
  text-decoration: none;
  color: #30638e;
}

.day-contact a:hover {
  text-decoration: underline;
  color: #080808;
  transform: scale(1.1);
}

.day-contact a:focus {
  text-decoration: underline;
  color: #080808;
}

.day-contact a:active {
  text-decoration: underline;
  color: #080808;
}
