.email-button {
  user-select: default;
  cursor: pointer;
  color: #ffffff;
}

.email-button:hover {
  text-decoration: underline;
  color: gainsboro;
}

.email-button:active {
  text-decoration: underline;
  color: rgb(116, 116, 116);
}

.contact-text {
  font-size: 2.5em;
  padding-top: 40vh;
  margin: 0vh 5vw 0vh 5vw;
  font-family: "Oswald", sans-serif;
}

.contact-links {
  font-size: 3em;
  cursor: pointer;
  display: inline-block;
  margin: 10vh 2vw 0vh 2vw;
}

.night-contact {
  background: #062f4f;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.day-contact {
  background: #416adb;
  height: 100vh;
  width: 100%;
  text-align: center;
}
