.toggle {
  cursor: pointer;
  font-size: 2vw;
}

.night-nav-bar {
  background: grey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  line-height: 10vh;
  font-size: 1vw;
  height: 10vh;
  text-decoration: none;
  text-align: center;
}

.night-nav-bar ul {
  background: grey;
  width: 100vw;
  display: flex;
  height: 5vh;
  text-decoration: none;
}
.night-nav-bar ul li {
  background: darkslategrey;
  display: inline;
  box-sizing: border-box;
  width: 5vw;
  height: 10vh;
  margin: 0vw 2vw 0vw 2vw;
}
.night-nav-bar ul li:last-child {
  background: grey;
  margin-left: auto;
}

.day-nav-bar {
  background: grey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  line-height: 10vh;
  font-size: 1vw;
  height: 10vh;
  text-decoration: none;
  text-align: center;
}

.day-nav-bar ul {
  background: grey;
  width: 100vw;
  display: flex;
  height: 5vh;
}
.day-nav-bar ul li {
  background: darkslategrey;
  display: inline;
  box-sizing: border-box;
  width: 5vw;
  height: 10vh;
  margin: 0vw 2vw 0vw 2vw;
}
.day-nav-bar ul li:last-child {
  background: grey;
  margin-left: auto;
}
