.night-nav-bar {
  background: darkslategrey;
  margin: 2vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.night-nav-bar ul {
  background: darkslategrey;
  width: 100%;
  display: flex;
  height: 5vh;
  width: 95vw;
}
.night-nav-bar ul li {
  background: darkslategrey;
  display: inline;
  box-sizing: border-box;
  width: 5vw;
  height: 5vh;
  padding: 5px 10px;
}
.night-nav-bar ul li:last-child {
  background: darkslategrey;
  margin-left: auto;
}

.day-nav-bar {
  background: grey;
  margin: 2vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.day-nav-bar ul {
  background: grey;
  width: 100%;
  display: flex;
  height: 5vh;
  width: 95vw;
}
.day-nav-bar ul li {
  background: grey;
  display: inline;
  box-sizing: border-box;
  width: 5vw;
  height: 5vh;
  padding: 5px 10px;
}
.day-nav-bar ul li:last-child {
  background: grey;
  margin-left: auto;
}
