.night-nav-bar {
  background: #576470;
  position: sticky;
  top: 0;
  z-index: 9999;
  line-height: 10vh;
  height: 10vh;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-family: "Oswald", sans-serif;
  border-bottom: 2px solid grey;
}

.night-nav-bar ul {
  display: flex;
  margin: 0;
}

.night-nav-bar ul li {
  display: inline;
  box-sizing: border-box;
  margin: 0 2vw 0 2vw;
}
.night-nav-bar ul li:last-child {
  margin-left: auto;
}

.day-nav-bar {
  background: #898796;
  position: sticky;
  top: 0;
  z-index: 9999;
  line-height: 10vh;
  height: 10vh;
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  border-bottom: 2px solid grey;
}

.day-nav-bar ul {
  display: flex;
  margin: 0;
}
.day-nav-bar ul li {
  display: inline;
  box-sizing: border-box;
  margin: 0vw 2vw 0vw 2vw;
}
.day-nav-bar ul li:last-child {
  margin-left: auto;
}

.night-toggle {
  color: #eee8aa;
  cursor: pointer;
}

.night-toggle:hover {
  text-decoration: none;
  color: #d2c2a9;
}

.day-toggle {
  color: #ffdd42;
  cursor: pointer;
}
.day-toggle:hover {
  text-decoration: none;
  color: #d2c2a9;
}
