.night-nav-bar {
  background: #000015;
  position: sticky;
  top: 0;
  z-index: 9999;
  line-height: 10vh;
  height: 10vh;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-family: "Oswald", sans-serif;
  border-bottom: 2px solid #ffffff;
}

.night-nav-bar ul {
  display: flex;
  margin: 0;
}

.night-nav-bar ul li {
  display: inline;
  box-sizing: border-box;
  margin: 0 2vw 0 2vw;
  transition: all 0.2s ease-in-out;
}

.night-nav-bar ul li:hover {
  transform: scale(1.1);
}

.night-nav-bar ul li:last-child {
  margin-left: auto;
}

.night-nav-bar a:link {
  text-decoration: none;
  color: #ff004f;
  outline: none;
}

.night-nav-bar a:visited {
  text-decoration: none;
  color: #ff004f;
}

.night-nav-bar a:hover {
  text-decoration: underline;
  color: #ffffff;
  transform: scale(1.1);
}

.night-nav-bar a:focus {
  text-decoration: underline;
  color: gainsboro;
}

.night-nav-bar a:active {
  text-decoration: underline;
  color: gainsboro;
}

.day-nav-bar {
  background: #191991;
  position: sticky;
  top: 0;
  z-index: 9999;
  line-height: 10vh;
  height: 10vh;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-family: "Oswald", sans-serif;
  border-bottom: 3px solid #ff004f;
}

.day-nav-bar ul {
  display: flex;
  margin: 0;
}

.day-nav-bar ul li {
  display: inline;
  box-sizing: border-box;
  margin: 0 2vw 0 2vw;
  transition: all 0.2s ease-in-out;
}

.day-nav-bar ul li:hover {
  transform: scale(1.1);
}

.day-nav-bar ul li:last-child {
  margin-left: auto;
}

.day-nav-bar a:link {
  text-decoration: none;
  color: #ff004f;
  outline: none;
}

.day-nav-bar a:visited {
  text-decoration: none;
  color: #ff004f;
}

.day-nav-bar a:hover {
  text-decoration: underline;
  color: gainsboro;
  transform: scale(1.1);
}

.day-nav-bar a:focus {
  text-decoration: underline;
  color: silver;
}

.day-nav-bar a:active {
  text-decoration: underline;
  color: silver;
}

.night-toggle {
  color: #eee8aa;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.night-toggle:hover {
  text-decoration: none;
  color: #ffffff;
  transform: scale(1.1);
}

.night-toggle:active {
  text-decoration: none;
  color: gainsboro;
}

.night-toggle:focus {
  text-decoration: none;
  color: gainsboro;
}

.day-toggle {
  color: #ffdd42;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.day-toggle:hover {
  text-decoration: none;
  color: gainsboro;
  transform: scale(1.1);
}

.day-toggle:active {
  text-decoration: none;
  color: silver;
}

.day-toggle:focus {
  text-decoration: none;
  color: silver;
}

/* Don't judge my use of !important....*/

.selected {
  text-decoration: underline !important;
}

.night-scroll {
  position: fixed;
  bottom: 0px;
  right: 50vw;
  color: #ff004f;
  font-size: 3em;
  z-index: 9998;
}

.night-scroll:hover {
  cursor: pointer;
  color: #ffffff;
}

.night-scroll:active {
  cursor: pointer;
  color: gainsboro;
}

.night-scroll:focus {
  cursor: pointer;
  color: gainsboro;
}

.day-scroll {
  position: fixed;
  bottom: 0px;
  right: 50vw;
  color: #ff004f;
  font-size: 3em;
  z-index: 9999;
}

.day-scroll:hover {
  cursor: pointer;
  color: gainsboro;
}

.day-scroll:active {
  cursor: pointer;
  color: silver;
}

.day-scroll:focus {
  cursor: pointer;
  color: silver;
}
.invisible {
  opacity: 0;
}
