.night-nav-bar {
  background: grey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.night-nav-bar ul {
  background: grey;
  width: 95%;
  display: flex;
  height: 5vh;
}
.night-nav-bar ul li {
  background: grey;
  display: inline;
  box-sizing: border-box;
  width: 5vw;
  height: 5vh;
  padding: 5px 10px;
}
.night-nav-bar ul li:last-child {
  background: grey;
  margin-left: auto;
}

.day-nav-bar {
  background: snow;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.day-nav-bar ul {
  background: snow;
  width: 95%;
  display: flex;
  height: 5vh;
}
.day-nav-bar ul li {
  background: snow;
  display: inline;
  box-sizing: border-box;
  width: 5vw;
  height: 5vh;
  padding: 5px 10px;
}
.day-nav-bar ul li:last-child {
  background: snow;
  margin-left: auto;
}
