.night-nav-bar {
  background: #050827;
  position: sticky;
  top: 0;
  z-index: 9999;
  line-height: 8vh;
  height: 8vh;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  box-shadow: 0 5px 4px -1px rgba(0, 0, 0, 0.25);
  transition: 0.8s;
}

.night-nav-bar ul {
  display: flex;
  margin: 0;
}

.night-nav-bar ul li {
  display: inline;
  box-sizing: border-box;
  margin-left: 10vw;
  transition: all 0.2s ease-in-out;
}

.night-nav-bar ul li:hover {
  transform: scale(1.1);
}

.night-nav-bar ul li:last-child {
  margin-left: auto;
}

.night-nav-bar a:link {
  text-decoration: none;
  color: #d1495b;
  outline: none;
}

.night-nav-bar a:visited {
  text-decoration: none;
  color: #d1495b;
}

.night-nav-bar a:hover {
  text-decoration: underline;
  color: #ffffff;
  transform: scale(1.1);
}

.night-nav-bar a:focus {
  text-decoration: underline;
  color: gainsboro;
}

.night-nav-bar a:active {
  text-decoration: underline;
  color: gainsboro;
}

.day-nav-bar {
  background: #30638e;
  position: sticky;
  top: 0;
  z-index: 9999;
  line-height: 8vh;
  height: 8vh;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  box-shadow: 0 5px 4px -1px rgba(0, 0, 0, 0.25);
  transition: 0.8s;
}

.day-nav-bar ul {
  display: flex;
  margin: 0;
}

.day-nav-bar ul li {
  display: inline;
  box-sizing: border-box;
  margin-left: 10vw;
  transition: all 0.2s ease-in-out;
}

.day-nav-bar ul li:hover {
  transform: scale(1.1);
}

.day-nav-bar ul li:last-child {
  margin-left: auto;
}

.day-nav-bar a:link {
  text-decoration: none;
  color: #d1495b;
  outline: none;
}

.day-nav-bar a:visited {
  text-decoration: none;
  color: #d1495b;
}

.day-nav-bar a:hover {
  text-decoration: underline;
  color: gainsboro;
  transform: scale(1.1);
}

.day-nav-bar a:focus {
  text-decoration: underline;
  color: silver;
}

.day-nav-bar a:active {
  text-decoration: underline;
  color: silver;
}

.night-toggle {
  color: #eee8aa;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 1vw;
}

.night-toggle:hover {
  text-decoration: none;
  color: #ffffff;
  transform: scale(1.1);
}

.night-toggle:active {
  text-decoration: none;
  color: gainsboro;
}

.night-toggle:focus {
  text-decoration: none;
  color: gainsboro;
}

.day-toggle {
  color: #ffdd42;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 1vw;
}

.day-toggle:hover {
  text-decoration: none;
  color: gainsboro;
  transform: scale(1.1);
}

.day-toggle:active {
  text-decoration: none;
  color: silver;
}

.day-toggle:focus {
  text-decoration: none;
  color: silver;
}

/* Don't judge my use of !important....*/

.selected {
  text-decoration: underline !important;
}

.night-scroll {
  position: fixed;
  bottom: 0px;
  right: 50vw;
  color: #d1495b;
  font-size: 3em;
  z-index: 9998;
}

.night-scroll:hover {
  cursor: pointer;
  color: #ffffff;
}

.night-scroll:active {
  cursor: pointer;
  color: gainsboro;
}

.night-scroll:focus {
  cursor: pointer;
  color: gainsboro;
}

.day-scroll {
  position: fixed;
  bottom: 0px;
  right: 50vw;
  color: #d1495b;
  font-size: 3em;
  z-index: 9998;
}

.day-scroll:hover {
  cursor: pointer;
  color: gainsboro;
}

.day-scroll:active {
  cursor: pointer;
  color: silver;
}

.day-scroll:focus {
  cursor: pointer;
  color: silver;
}
.invisible {
  opacity: 0;
}

.night-zara-image {
  height: 1.5em;
  width: 1.125em;
  position: fixed;
  left: 1%;
  top: 0.5%;
  filter: invert(100%);
  transition: 0.8s;
}

.night-zara-image:hover {
  cursor: pointer;
}

.day-zara-image {
  height: 1.5em;
  width: 1.125em;
  position: fixed;
  left: 1%;
  top: 0.5%;
  transition: 0.8s;
}

.day-zara-image:hover {
  cursor: pointer;
}

.animated img {
  position: fixed;
  animation: Logo 10s 1;
}

@keyframes Logo {
  0% {
    right: 0;
    transform: translateX(0%);
  }
  25% {
    right: 0;
    transform: translateX(-1000%);
  }
  50% {
    right: 0;
    transform: translateX(100%);
    transform: translateY(40%);
    height: 100vh;
    width: 75vh;
  }

  75% {
    right: 0;
    transform: translateX(-500%);
  }
  100% {
    right: 0;
    transform: translateX(0%);
  }
}
