.night-project-box {
  background: #0C2340;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-project-box {
  background: #1a4d8b;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  height: 40vh;
  width: 40vw;
  margin-bottom: 25vh;
}
