.night-project-box {
  background: #07264E;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-project-box {
  background: #F2F3F2;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  height: 40vh;
  width: 40vw;
  margin-bottom: 20vh;
}

.night-img-div {
  cursor: pointer;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.day-img-div {
  cursor: pointer;
  border: 3px solid #d1495b;
  cursor: pointer;
}