.project-box {
  background: snow;
  height: 100vh;
  width: 100vw;
}

.project-box p {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5vw;
}
