.nav-item:hover,
.nav-item:active,
.nav-item:visited,
.nav-item:focus {
  text-decoration: underline;
}

.hamburger-icon {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 10vw;
  margin-top: 2vh;
  text-align: center;
  z-index: 9999;
  font-size: 2em;
}

.night-nav-bar {
  background: rgba(137, 135, 150, 0.9);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.night-nav-bar ul li {
  text-align: center;
  margin-top: 15vh;
  text-decoration: none;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
}

.day-nav-bar {
  background: rgba(137, 135, 150, 0.9);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.day-nav-bar ul li {
  text-align: center;
  margin-top: 15vh;
  text-decoration: none;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
}

.night-toggle {
  color: #eee8aa;
  cursor: pointer;
  font-size: 2em;
  padding: 1vw;
}

.night-toggle:hover {
  text-decoration: none;
  color: #d2c2a9;
}

.day-toggle {
  color: #ffdd42;
  cursor: pointer;
  font-size: 2em;
  padding: 1vw;
}
.day-toggle:hover {
  text-decoration: none;
  color: #d2c2a9;
}
