.nav-item:hover,
.nav-item:active,
.nav-item:visited,
.nav-item:focus {
  text-decoration: underline;
}

.nav-back {
  background: rgba(137, 135, 150, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hamburger-icon {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 10vw;
  margin-top: 2vh;
  text-align: center;
  z-index: 9999;
  font-size: 2em;
}

.night-nav-bar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  margin: 5vh 10vw 0vh 5vw;
}

.night-nav-bar ul li {
  text-align: center;
  margin-top: 15vh;
  text-decoration: none;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  z-index: 9999;
}

.day-nav-bar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  margin: 5vh 10vw 50vh 5vw;
}

.day-nav-bar ul li {
  text-align: center;
  margin-top: 15vh;
  text-decoration: none;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  z-index: 9999;
}

.night-toggle {
  color: #eee8aa;
  cursor: pointer;
  font-size: 2em;
  padding: 1vw;
}

.night-toggle:hover {
  text-decoration: none;
  color: #d2c2a9;
}

.day-toggle {
  color: #ffdd42;
  cursor: pointer;
  font-size: 2em;
  padding: 1vw;
}
.day-toggle:hover {
  text-decoration: none;
  color: #d2c2a9;
}
