.night-nav-back {
  background: rgba(29, 53, 87, 0.95);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.8s;
}

.day-nav-back {
  background: rgba(48, 99, 142, 0.95);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.8s;
}

.day-hamburger {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 10vw;
  margin-top: 2vh;
  text-align: center;
  z-index: 9999;
  font-size: 2em;
  color: gainsboro;
  transition: 0.8s;
}

.night-hamburger {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 10vw;
  margin-top: 2vh;
  text-align: center;
  z-index: 9999;
  font-size: 2em;
  color: #ffffff;
  transition: 0.8s;
}

.night-nav-bar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 5vw;
  right: 0;
  bottom: 0;
  height: 0;
  margin: 5vh 10vw 0vh 5vw;
}

.night-nav-bar ul li {
  text-align: center;
  margin-top: 10vh;
  text-decoration: none;
  list-style-type: none;
  font-size: 2em;
  z-index: 9999;
}

.day-nav-bar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 5vw;
  right: 0;
  bottom: 0;
  height: 0;
  margin: 5vh 10vw 50vh 5vw;
}

.day-nav-bar ul li {
  text-align: center;
  margin-top: 10vh;
  text-decoration: none;
  list-style-type: none;
  font-size: 2em;
  z-index: 9999;
}

.night-nav-bar a:link {
  text-decoration: none;
  color: #d1495b;
  outline: none;
}

.night-nav-bar a:visited {
  text-decoration: none;
  color: #d1495b;
}

.day-nav-bar a:link {
  text-decoration: none;
  color: #d1495b;
  outline: none;
}

.day-nav-bar a:visited {
  text-decoration: none;
  color: #d1495b;
}

.night-toggle {
  color: #eee8aa;
  cursor: pointer;
  font-size: 2em;
  padding: 1vw;
  transition: 0.8s;
}

.night-toggle:hover {
  text-decoration: none;
  color: #d2c2a9;
}

.day-toggle {
  color: #ffdd42;
  cursor: pointer;
  font-size: 2em;
  padding: 1vw;
  transition: 0.8s;
}
.day-toggle:hover {
  text-decoration: none;
  color: #d2c2a9;
}

.selected {
  text-decoration: underline !important;
}

.night-scroll {
  position: fixed;
  bottom: 0px;
  right: 43%;
  color: #d1495b;
  font-size: 3em;
  z-index: 9999;
}

.night-scroll:active {
  cursor: pointer;
  color: gainsboro;
}

.day-scroll {
  position: fixed;
  bottom: 0px;
  right: 43%;
  color: #d1495b;
  font-size: 3em;
  z-index: 9999;
}

.day-scroll:active {
  cursor: pointer;
  color: silver;
}

.invisible {
  opacity: 0;
}

.night-zara-image {
  height: 3em;
  width: 2.25em;
  position: fixed;
  left: 2%;
  top: 1%;
  filter: invert(100%);
  z-index: 9999;
}

.night-zara-image:hover {
  cursor: pointer;
}

.day-zara-image {
  height: 3em;
  width: 2.25em;
  position: fixed;
  left: 2%;
  top: 1%;
  z-index: 9999;
}

.day-zara-image:hover {
  cursor: pointer;
}

.animated img {
  position: fixed;
  animation: Logo 10s 1;
  z-index: 9999;
}

@keyframes Logo {
  0% {
    right: 0;
    transform: translateX(0%);
  }
  25% {
    right: 0;
    transform: translateX(-500%);
  }
  50% {
    right: 0;
    transform: translateX(50%);
    transform: translateY(50%);
    height: 75vh;
    width: 50vh;
  }

  52% {
    transform: translateX(50%);
    transform: translateY(50%);
    height: 75vh;
    width: 50vh;
  }

  75% {
    right: 0;
    transform: translateX(-500%);
  }
  100% {
    right: 0;
    transform: translateX(0%);
  }
}
